---
import TrailerCard from '../trailer_card.astro';
import rt_png from '../../assets/images/rt.jpg';
import rt_landscape_svg from '../../assets/vectors/rt_landscape.svg?raw';
import rt_vertical_1_svg from '../../assets/vectors/rt_vertical_1.svg?raw';
import rt_vertical_2_svg from '../../assets/vectors/rt_vertical_2.svg?raw';
---

<section 
    id="rt-section" 
    data-color="var(--color-green)" 
    class="color-section h-svh w-full snap-start flex flex-col overflow-hidden shrink-0
           md:flex-row md:items-center"
    style="padding-top: var(--nav-height);"
>
    <!-- Mobile view -->
    <div class="flex flex-col w-full h-full pt-[8vh] items-center overflow-hidden md:hidden">
        <div class="w-full flex justify-start">
            <div class="w-full pl-[15vw] pr-[3.5vw] pb-[1vh]">
                <Fragment set:html={rt_vertical_1_svg} />
            </div>
        </div>
        <div class="relative w-fit px-[3.5vw]">
            <span class="absolute bottom-0 right-[3.5vw] translate-y-full text-[8px] tracking-widest">Portugal, 2019</span>
            <TrailerCard vimeoId="947890689" imageSrc={rt_png} alt="Rio Torto" color="var(--color-green)" type="film" />
        </div>
        <div class="w-full flex">
            <div class="w-full pt-[2vh] pl-[3.5vw] pr-[50vw]">
                <Fragment set:html={rt_vertical_2_svg} />
            </div>
        </div>
    </div>

    <!-- Desktop view -->
    <div class="hidden flex-row items-end w-full h-auto md:flex">
        <div class="w-[50vw] pl-[3.5vw] pr-[1.5vw] pt-[15vh] flex justify-center shrink-0">
            <div class="relative w-fit">
                <span class="absolute top-0 left-0 -translate-y-full text-xs tracking-widest ">Portugal, 2019</span>
                <TrailerCard 
                    vimeoId="947890689"
                    imageSrc={rt_png}
                    alt="Rio Torto"
                    color="var(--color-green)"
                    type="film"
                />
            </div>
        </div>
    
        <div class="w-[50vw] pr-[3.5vw] pl-[1.5vw] flex flex-1 items-end overflow-hidden">
            <Fragment set:html={rt_landscape_svg} />
        </div>
    </div>
</section>